html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.content {
    background: lightblue;
    width: 520px;
    padding: 30px;
}

.error {
    width: 520px;
    padding: 30px;
    margin-bottom: 50px;
    position: relative;
    background: white;
}